<h3>User Form</h3>

<div class="card">
  <form [formGroup]="form">
    <label for="name">Name</label>
    <input formControlName="name" class="form-control" placeholder="Ëx. John Doe">

    <label for="bio">Bio</label>
    <input formControlName="bio" class="form-control" placeholder="Ëx. I love programming">

    <label for="bio">Gender</label>
    <select formControlName="gender" class="form-control">
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
    <br>
    <button *ngIf="action === 'view'" class="btn btn-success" (click)="edit()">Edit</button>
    <button *ngIf="action === 'create'" class="btn btn-success" (click)="submit('create')">Create</button>
    <button *ngIf="action === 'update'" class="btn btn-success" (click)="submit('update')">Update</button>

  </form>

</div>
